html {
    /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
    font-size: 12px;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(255, 254, 254);
    margin: 0;
  }
  
  h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: rgb(241, 241, 134)
  }
  
  @media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
  }
  
  h2 {
    font-size: 3.25rem;
  }
  
  a {
    color: #e9ebec;
  }
  
  a:visited {
    color: #b16565;
  }
  
  #main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 20px;
    background: rgb(55, 55, 56);
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: rgb(209, 210, 218);
    padding: 10px;
    margin: 0;
    border-radius: 20px;
  }
  
  #img-caption {
    margin: 15px 0 5px 0;
    color: black;
  }
  
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    background-color:  rgb(209, 210, 218);
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
    color: rgb(2, 2, 0);
  }
